@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,400,900");

.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 300px));
  /* grid-template-columns: repeat(3, 1fr); */
  grid-column-gap: 5%;
  grid-auto-rows: auto;
  grid-row-gap: 10px;
}

.table-image {
  max-width: 100%;
  max-height: auto;
}

.table-image:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.table-loadMoreStoriesButton {
  text-align: center;
  padding: 3%;
}

.table-results-header {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

button {
  background: black;
  color: white;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 100%;
}

button:hover {
  background: white;
  color: black;
  border: solid 1px black;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 90%;
}

a:hover {
  text-decoration: underline;
  background: rgb(223, 215, 215);
}
